.tabla1{
    border: 1px solid black;
}
.tabla1 th{
    border: 1px solid black;
}
.formulario2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
h1{
    text-align: center;
}