.inicio1{
    width: 100%;
    height: 500px;
    border-radius: 20px;
}
.inicio1:hover{
    cursor: pointer;
}
h1{
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
}
.titulo1::after{
    content: '';
    width: 100%;
    height: 3px;
    background: #64f9ea;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}
nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;

}
nav li{
    float: left;
    list-style-type: none;
    padding-left: 50px;
    margin-top: 20px;
}
li a{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    background-color: rgba(165, 42, 42, 0.486);
    text-decoration: none;
    width: 200px;
}
li a:hover{
    background-color: rgba(255, 170, 67, 0.655);
}
.contenedor{
    display: flex;
    padding: 30px;
}

.izquierda{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 80%;
    height: 500px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: bisque;
    margin-right: 20px;
}
.izquierda img{
    width: 450px;
    height: 300px;
}
.derecha{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 80%;
    height: 500px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: bisque;
}
.derecha form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.izquierda h2{
    color: rgb(198, 96, 1);
}
.tabla1{
    border: 1px solid black;
}
.tabla1 th{
    border: 1px solid black;
}
.formulario2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
